<html>
    <head>
        <%- include("../header.ejs"); %>
        <%- include("../extend_header.ejs"); %>
    </head>
    <body class="container-fluid">
        <div class="mb-3">
            <%- include("../menu.ejs"); %>            
        </div>
        <div class="row">
            <div class="col-3">
                <%- include("search.ejs"); %>  
            </div>
            <div class="col-9">
                <%- include("result.ejs"); %>  
            </div>
        </div>
    </body>
</html>