<html>
    <head>
        <%- include("header.ejs"); %>
        <%- include("extend_header.ejs"); %>
    </head>
    <body class="container-fluid">
        <div class="mb-3">
            <%- include("menu.ejs"); %>            
        </div>
        <div>
            <%- include("create_product.ejs"); %>
        </div>
        <div>
            <%- include("edit_product.ejs"); %>
        </div>
    </body>
</html>